<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lw.dao.ProductSourceDAO">
    
    <resultMap id="BaseResultMap" type="com.lw.entity.ProductSourceDO">
        <id column="id" property="id" />
        <result column="product_guid" property="productGuid"/>
        <result column="product_source" property="productSource"/>
        <result column="stop_status" property="stopStatus"/>
        <result column="creator" property="creator"/>
        <result column="operator" property="operator"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="row_status" property="rowStatus"/>
        <result column="row_version" property="rowVersion"/>
        <result column="biz_type" property="bizType"/>
        <result column="ext_att" property="extAtt"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into system_product_source(
            product_guid,product_source,stop_status,creator,operator,gmt_create,gmt_modified,row_status,row_version,biz_type,ext_att
        ) values (
            #{productGuid},#{productSource},0,#{creator},#{operator},now(),now(),0,0,#{bizType},#{extAtt}
        )
    </insert>

    <!-- 批量新增 -->
    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        insert into system_product_source(
            product_guid,product_source,stop_status,creator,operator,gmt_create,gmt_modified,row_status,row_version,biz_type,ext_att
        ) value
            <foreach collection="list" item="item" separator=",">
                (#{item.productGuid},#{item.productSource},0,#{item.creator},#{item.operator},now(),now(),0,0,#{item.bizType},#{item.extAtt})
            </foreach>

    </insert>
</mapper>